html {
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #2f343b;
  font-size: 16px;
}

h1 {
  background-color: #703030;
  color: #fff;
  font-family: Monoton;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

img {
  width: 100%;
}

figure {
  margin: auto;
}

nav {
  margin-bottom: -4px;
  overflow: hidden;
  margin: 0;
  height: auto;
}

nav ul {
  width: 100%;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c77966;
}

nav li {
  width: calc(100% / 3);
  float: left;
  padding: 10px;
  /*border: 1px solid #2f343b;*/
}

nav li:hover {
  background-color: #c78c85;
}

nav a {
  display: block;
  text-decoration: none;
  color: #2f343b;
}

header {
  overflow: hidden;
  margin-bottom: -4px;
}

.banner1 {
  height: 90px;
  width: 100%;
  position: relative;
  }

#banner1 {
  position: absolute;
}

figure {
  overflow: hidden;
  margin-bottom: -5px;
}

.banner1 {
  height: 140px;
  width: 100%;
  position: relative;
  }

#banner1 {
  position: absolute;
}

.banner2 {
  height: 710px;
  position: relative;
  margin: 0 0 70px 0;
}

h2 {
  margin: 0;
  text-align: left;
  color: #2f343b;
  padding: 0px 10px;
}

p {
  color: #2f343b;
  margin: 0;
  padding: 10px;
}

.p2 {
  position: absolute;
  top: 10px;
}

.p1 {
  position: absolute;
  top: 10px;
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}

.special {
  display: inline-block;
  width: 49%;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
}

.game {
  display: inline-block;
  width: 49%;
  text-align: center;
  color: #fff;
  padding: 10px 0px;
}

.oo {
  margin: 20px 20px;
  padding: 10px;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  font-family: Monoton;
  background-color: #c77966;
  border-radius: 20px;
}

.icons {
  margin: 25px 25px 0px 10px;
  float: right;
  width: 25%;
}

.tw {
  margin: 10px 0 0 0;
}

.contact {
  width: 60%;
  float: left;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.2em;
  margin: 30px 0 0 0;
}

span p {
  color: #fff;
  padding: 10px 10px 0px 10px;
}

.cu {
  padding: 0 0 0 10px;
}

.fu {
  padding: 0 0 0 10px;
}

.cb {
  padding: 0 0 0 10px;
}

footer {
  height: 40px;
  margin: 0;
  background-color: #7e827a;
  text-align: center;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
}

footer a {
  color: #2f343b;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 5px;
  top: 5px;
  right: 120px;
}

footer a:hover {
  color: #fff;
}
