html {
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #2f343b;
  font-size: 16px;
}

h1 {
  background-color: #703030;
  color: #fff;
  font-family: Monoton;
  margin: auto;
  text-align: center;
}

img {
  width: 100%;
}

figure {
  margin: auto;
}

nav {
  margin-bottom: -4px;
  overflow: hidden;
  margin: 0;
  height: auto;
}

nav ul {
  width: 100%;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c77966;
}

nav li {
  width: calc(100% / 3);
  float: left;
  padding: 10px;
  /*border: 1px solid #2f343b;*/
}

nav li:hover {
  background-color: #c78c85;
}

nav a {
  display: block;
  text-decoration: none;
  color: #2f343b;
}

header {
  overflow: hidden;
  margin-bottom: -4px;
}

.banner1 {
  height: 90px;
  width: 100%;
  position: relative;
  }

#banner1 {
  position: absolute;
}

figure {
  overflow: hidden;
  margin-bottom: -5px;
}

.banner1 {
  height: 140px;
  width: 100%;
  position: relative;
  }

#banner1 {
  position: absolute;
}

.banner2 {
  height: 610px;
  position: relative;
}

h2 {
  margin: 0;
  text-align: left;
  color: #2f343b;
  padding: 0px 10px;
}

p {
  color: #2f343b;
  margin: 0;
  padding: 10px;
}

.p2 {
  position: absolute;
  top: 10px;
}

.p1 {
  position: absolute;
  top: 10px;
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}
